/*General Styles*/
*:focus{
    box-shadow: none !important;
    border: 1px solid #01377d !important;
    border-radius: 5px !important;
    outline: none !important;
}

h3 a{
    color: #01377d !important;
}

.courseindex-link{
    color: #26b170 !important;
}

a:hover{
    color: #009dd1 !important;
    text-decoration: none !important;
}

a:focus{
    background: none !important;
    color: #009dd1 !important;
}

a.active{
    color: #7ed348 !important;
}

a[href*="http://docs.moodle.org"] {
    display: none;
}

div, button, select{
    border-radius: 5px !important;
}

h1, h2, h3, h4, h5, p, ol, ul{
    color: #01377d !important;
}

h6, button, input.btn{
    color: #26b170 !important;
}

.alert-info{
    background-color: #97e7f5;
    color: #26b170;
}

.edit-form-switch-form{
    display: none !important;
}

.primary-navigation .moremenu .nav li:nth-child(2), 
.primary-navigation .moremenu .nav li:nth-child(3){
    display: none !important;
}

.modal-footer a.d-inline{
    display: none !important;
}

/*Non-Logged In User Front Page Styles(Login Link)*/

span.login > a{
    font-weight: 700;
}

span.login > a:focus{
    background: none !important;
    color: #009dd1;
}


/*Burger Menu Button Styles*/
button.navbar-toggler{
    background: #7ed348 !important;
    color: #01377d;
    border-radius: 5px;
    transition: all 0.5s ease-in-out !important;
}

button.navbar-toggler:hover{
    background: #26b170 !important;
}

button.navbar-toggler:focus{
    color: #009dd1 !important;
}


/*Login Page Styles*/
.login-logo #logo-image{
    max-width: 100% !important;
    max-width: 100% !important;
}

input{
    border-color: #01377d !important;
    border-radius: 5px !important;
    color: #009dd1 !important;
}

div.mt-3{
    color: #01377d !important;
    font-size: 13px !important;
}

.login-form-submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginbtn, .singlebutton > form > button{
    background-color: #26b170;
    color: #01377d !important;
    border: 1px solid #01377d;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px !important;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}

#loginbtn:hover, .singlebutton > form > button:hover{
    background-color: #7ed348;
    color: #01377d !important;
}

.login-form-forgotpassword{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn.btn-secondary{
    display: none;
}

/*Logged In User Buttons(some) Styles*/
button.dropdown-toggle{
    color: #01377d !important;
    background-color: #26b170 !important;
    border-color: #01377d !important;
    border-radius: 5px;
}

button.dropdown-toggle:hover{
    color: #7ed348 !important;
    background-color: #01377d !important;
}

button.float-sm-right{
    background: #26b170 !important;
    color: #01377d !important;
    font-weight: 700 !important;
}

button.float-sm-right:hover{
    background: #7ed348 !important;
}

#message-user-button span{
    color: #26b170;
    transition: all 300ms ease-in-out;
}

#message-user-button span:hover{
    color: #7ed348;
}

#notice{
    color: #009dd1;
}

/*Hide logged in user minilogo image beside bugger menu button*/
span.logo > img{
    display: none;
}

.page-header-headings h1{
    display: none;
}

/*ChatBox Styles*/

.message:nth-child(odd){
    background: #26b170 !important;
    color: #01377d !important;
}

.message:nth-child(odd) div h6{
    color: #97e7f5 !important;
}

.message:nth-child(odd) .time{
    color: #97e7f5 !important;
    font-weight: 700;
}

.message:nth-child(even){
    background: #97e7f5 !important;
    color: #01377d !important;
}

.message:nth-child(even) .time{
    color: #26b170 !important;
    font-weight: 700;
}

.w-100 .d-flex strong{
    color: #01377d !important;
}

.d-flex textarea::placeholder{
    color: #97e7f5 !important;
}

.d-flex textarea{
    color: #01377d !important;
}

/*Notification Area Styles*/

.notification-area .control-area .content .notification{
    background: transparent;
    transition: all 400ms ease-in-out;
}

.notification-area .control-area .content .notification:hover{
    background: #26b170;
}

.notification-area .control-area .content .notification.selected{
    background: #01377d;
}

.notification-area .content-area .header{
    background: #01377d;
}

.header .subject-container{
    color: #26b170;
    font-weight: 700;
}

.header .timestamp{
    color: #7ed348 !important;
}

.notification-area .content-area .content{
    color: #01377d;
}

.notification-area .content-area .content table{
    color: #01377d;
}

/*Introduction Section Styles*/

.section-item{
    border: none !important;
    outline: none !important;
}

.introduction-section .intro-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-section .intro-text h1{
    text-align: center;
    margin-top: 20px;
}

#toblue{
    color: #009dd1;
}

#togreen{
    color: #26b170;
}

#tolight{
    color: #7ed348;
}

.introduction-section .intro-graphics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.introduction-section .intro-graphics img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/*About Section Styles*/

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.about-section p{
    text-align: center;
}

.about-section img{
    margin-top: 20px;
    margin-bottom: 40px;
}

/*For Parents Section Styles*/

.for-parents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.for-parents p{
    text-align: center;
}

.for-parents .enroll-steps{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.for-parents .enroll-steps .step{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.for-parents .enroll-steps .step i{
    font-size: 70px;
    text-align: center;
}

.for-parents .enroll-steps .step p{
    font-weight: 700;
}

#bg_blue{
    background: #01377d;
    color: #7ed348;
}

#bg_blue p{
    color: #7ed348 !important;
}

#bg_green{
    background: #26b170;
    color: #01377d;
}

#bg_light{
    background: #7ed348;
    color: #01377d;
}

#bg_bllight{
    background: #97e7f5;
    color: #7ed348;
}

/*CTA Buttons Section Styles*/

.cta-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cta-buttons .buttons{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}

.cta-buttons .buttons a:nth-child(1){
    background: #7ed348;
    color: #01377d !important;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
}

.cta-buttons .buttons a:nth-child(1):hover{
    background: #26b170;
    color: #01377d !important;
}

.cta-buttons .buttons a:nth-child(2){
    background: #26b170;
    color: #01377d !important;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
}

.cta-buttons .buttons a:nth-child(2):hover{
    background: #7ed348;
    color: #01377d !important;
}

/*Donate Request Section Styles*/

.donate-request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.donate-request p{
    text-align: center;
}

.donate-request #donationForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donate-request #donationForm label{
    color: #26b170;
    font-size: 22px;
    font-weight: 700;
}

.donate-request #donationForm input{
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #7ed348 !important;
    font-weight: 700;
}

.donate-request #donationForm button{
    background: #01377d;
    color: #7ed348 !important;
    padding: 20px 40px;
    font-weight: 700;
    border-radius: 10px;
    border: none !important;
    transition: all 400ms ease-in-out;
}

.donate-request #donationForm button:hover{
    background: #7ed348;
    color: #01377d !important;
}

.donate-request #donationForm button i{
    font-size: 30px;
}

/*Contact Us Section Styles*/

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-us a i{
    font-size: 20px;
}

.contact-us #send_mail{
    background: #009dd1;
    color: #01377d !important;
    font-weight: 700;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 400ms ease-in-out;
}

.contact-us #send_mail:hover{
    background: #01377d;
    color: #7ed348 !important;
}

.contact-us #call_inquiries{
    background: #26b170;
    color: #01377d !important;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 400ms ease-in-out;
}

.contact-us #call_inquiries:hover{
    background: #7ed348;
    color: #01377d !important;
}

.contact-us #chat_wa{
    background: #01377d;
    color: #7ed348 !important;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 400ms ease-in-out;
}

.contact-us #chat_wa:hover{
    background: #7ed348;
    color: #01377d !important;
}

.contact-us #chat_wa i{
    font-size: 28px;
    position: relative;
    top: 4px;
    transition: all 400ms ease-in-out;
}

.contact-us #chat_wa i:hover{
    color: #01377d !important;
}

.contact-us #chat_wa:hover i{
    color: #01377d !important;
}

/*English Course Styles*/

.nouns-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nouns-examples{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nouns-examples .examples-list{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nouns-examples .examples-list p{
    text-align: left !important;
}

.nouns-examples .examples-list ul{
    list-style: none;
}

.nouns-examples .examples-list ul li:nth-child(1){
    font-weight: 700;
    color: #7ed348;
    margin-bottom: 10px;
}

.common-proper{
    margin-top: 20px;
}

.common-proper .examples-list{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 20px;
}

.common-proper p{
    margin-top: 20px;
}

.singular-plural h6{
    color: #01377d !important;
    margin-top: 20px;
}

.singular-plural ol li{
    margin-bottom: 10px;
}

/*Mathematics Course Style*/

.number-line h6{
    margin-top: 20px;
}

.integer-operations img{
    max-width: 100% !important;
    max-height: 100% !important;
    margin: auto;
}

/*Activity Button*/

.activity-information button{
    background: #fff !important;
    color: #26b170 !important;
}


.activity-information button:hover{
    background: #7ed348 !important;
    color: #01377d !important;
}

/*Calendar Table Styles*/
th.header, td.day{
    color: #01377d !important;
}

td.day:hover{
    cursor: pointer !important;
    box-shadow: 0px 0px 5px #7ed348 !important;
    border-radius: 5px;
}

.modal-header button:hover{
    color: #01377d !important;
}

.modal-header button span{
    color: #7ed348 !important;
}

.modal-header button span:hover{
    color: #01377d !important;
}


/*Font Awesome Styles*/
.fa{
    color: #26b170 !important;
    transition: all 300ms ease-in-out;
}

.fa:hover{
    color: #7ed348 !important;
}

.drawer-toggler button{
    transition: all 400ms ease-in-out;
}

.drawer-toggler button:hover{
    background: #7ed348 !important ;
}

img.fp-repo-icon{
    display: none;
}

.info h3.coursename a{
    font-size: 22px;
    font-weight: 700;
}

ul.teachers li span, .category-content span{
    color: #26b170 !important;
    transition: all 400ms ease-in-out;
}

.paging a, .ml-sm-auto a{
    background: #26b170;
    color: #01377d;
}

.paging a:hover, .ml-sm-auto a:hover{
    background: #01377d;
}

.primary-navigation .moremenu ul li a{
    color: #01377d !important;
    font-weight: 600 !important;
    transition: all 400ms ease-in-out;
}

.primary-navigation .moremenu ul li a:hover{
    color: #26b170 !important;
}

.primary-navigation .moremenu ul li a.active{
    color: #7ed348 !important;
}


#page-admin-index div.alert:nth-child(7),
#page-admin-index div.alert:nth-child(8),
#page-admin-index div.box:nth-child(3),
#page-admin-index div.box:nth-child(5),
#page-admin-index div.box:nth-child(6),
#page-admin-index div.box:nth-child(9){
    display: none !important;
}

/*Footer Styles*/
#page-footer{
    display: none;
}

.sitelink img, .logininfo, .tool_dataprivacy{
    display: none;
}



/***RESPONSIVE DESIGN BREAKPOINTS***/

@media (max-width: 768px){

    .drawercontent .list-group a.list-group-item:nth-child(2),
    .drawercontent .list-group a.list-group-item:nth-child(3){
        display: none !important;
    }

    .nouns-examples .examples-list{
        gap: 20px;
    }

    .common-proper .examples-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 520px){
    .introduction-section .intro-graphics{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .introduction-section h2,
    .about-section h2,
    .for-parents h2
    {
        text-align: center !important;
    }

    p{
        text-align: justify !important;
    }

    .for-parents .enroll-steps .step p{
        text-align: center !important;
    }

    .nouns-examples .examples-list{
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .common-proper .examples-list{
        display: flex !important;
        flex-wrap: wrap !important;
    }
}